.home .content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home_info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home_image {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
}

.home_name {
  font-size: 2rem;
  text-align: center;
  margin-top: 15px;
}


.home_description_section{
  height: 35px;
  font-size: 25px;
  line-height: 35px;
  overflow: hidden;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.home_description_section ul{
  list-style: none;
  animation: animation 10s infinite
}


.home_contact {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
}

.home_contact img {
  height: 35px;
  width: 35px;
}

.home_contact a {
  text-decoration: none;
}

.downloadCV {
  background-color: var(--home-CV-bg);
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  color: var(--home-CV-color);
  padding: 0px 7px;
  margin-top: -3px;
}


@keyframes animation{
  0%,20%{
    margin-top: 0px;;
  }
  25%,45%{
    margin-top: -35px;
  }
  50%,70%{
    margin-top: -70px;
  }
  75%,95%{
    margin-top: -35px;
  }
  100%{
    margin-top: 0px;
  }
}

@media (min-width: 1300px) {
  .home .content {
    flex-direction: row-reverse;
  }

  .home_info {
    margin-right: 100px;
  }

  .home_name{
    font-size: 2.5rem;
  }

  .home_image {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1700px) {
  .home_name{
    font-size: 3rem;
  }

  .home_image {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    object-fit: cover;
  }
}
