@import url("https://fonts.googleapis.com/css2?family=Itim&family=Ubuntu:wght@300&display=swap");
@import url(./variables.css);
@import url(./header.css);
@import url(./home.css);
@import url(./about.css);
@import url(./skills.css);
@import url(./projects.css);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-child(odd) {
  background-color: #f3eae8;
}

section:nth-child(even) {
  background-color: #d7fff7;
}

/*----- Medias -----*/
@media (min-width: 1300px) {
  .content {
    width: 60%;
    margin: 0px auto;
  }
}
