.projects {
  padding-bottom: 60px;
}

.projects_title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 30px;
  margin-top: 100px;
}

#project_root {
}

.project_card {
  width: 100%;
  color: #333;
  margin-bottom: 30px;
}

.card_imagen {
  background-color: rgba(120, 200, 90, 0.5);
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 200px;
  margin-bottom: -4px;
  object-fit: cover;
  object-position: top;
}

.card_content {
  background-color: #eee;
  border-radius: 0px 0px 10px 10px;
}

.card_title {
  text-align: center;
  padding: 15px 0px 10px 0px;
  font-size: 1.5rem;
}

.card_description {
  text-align: center;
  padding-bottom: 15px;
  width: 80%;
  margin: auto;
}

.card_techSections {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 5px;
  padding: 5px;
}

.card_techUsed {
  height: 30px;
}

.card_linksSections {
  border-top: 1px solid #333;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card_github img {
  height: 25px;
}

.card_view img {
  height: 33px;
}

@media (min-width: 1200px) {
  .project_card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card_imagen {
    border-radius: 10px 0px 0px 10px;
    width: 400px;
    height: 350px;
    margin-top: -4px;
    object-fit: cover;
    object-position: top;
  }

  .card_content {
    border-radius: 0px 10px 10px 0px;
    height: 350px;
    display: flex;
    flex-direction: column;
  }

  .card_title {
    padding: 25px 0px 0px 0px;
  }

  .card_description {
    font-size: 1.1rem;
  }

  .card_techUsed {
    height: 45px;
  }

  .card_linksSections {
    padding: 25px;
  }

  .card_github img {
    height: 35px;
  }

  .card_view img {
    height: 43px;
  }
}
